
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap')
$dark: #1a1a1a
$yellow: #dab200
$grey: #A6A4A4
$ff-primary: cursive
$ff-secondary: -webkit-pictograph

$fs-primary: 40px
$fs-secondary: 2rem
$fs-normal: 1rem

html
  scroll-behavior: smooth

// Mobile layout

#navbar
  z-index: 999

  position: fixed
  top: 0
  left: 0

  width: 0px
  height: 100vh
  background: white

  overflow: scroll

  transition: 0.5s cubic-bezier(0.87, -0.43, 0.47, 0.94)

  background: lighten($yellow, 52)

  .menu
    display: flex
    flex-direction: column

    padding: min(5vh,4rem) 2em
    list-style-type: decimal

    // font-family: 'Fira Sans', sans-serif
    font-size: $fs-normal

    li
      margin: 10px

      &:first-child
        list-style: none
        margin: 10px

        font-size: 1.5*$fs-normal
        text-align: center
    .nav-link
      a
        text-decoration: none !important
        color: $dark !important
      &:active
        font-style: italic
        color: lighten($dark, 10%)

    .active-nav-item
      font-weight: 700
      font-size: 1.1*$fs-normal
      &::before
        content: ''
        width: 4px
        height: 25px
        border-left: 4px solid $yellow
        padding-left: 16px
        position: absolute
        left: 0px
        margin-top: -3px

#toggle
  z-index: 999

  position: fixed
  right: 19px
  bottom: 30px

  background-color: $yellow

  border-radius: 50%

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset

  .material-icons
    font-size: $fs-secondary
    padding: 16px
    color: $dark
    &:active
      box-shadow: none

main
  padding: 10px
  section
    &::after
      content: " "
      display: block
      border-bottom: 1px solid $grey
      padding-top: 44px
      margin-bottom: 40px
    header
      font-family: $ff-primary
      font-size: $fs-primary
      margin-bottom: $fs-normal
    & > *
      font-family: $ff-secondary
    li
      line-height: 25px
      letter-spacing: 0.13em

/* Tablet Layout */
@media all and (min-width: 700px)
  #toggle
    display: none
  #navbar
    overflow: initial
    z-index: initial

    position: fixed
    left: initial
    right: 0

    width: 30%
    height: 100%

    padding: 0
    & .menu
      padding: 0px 0px 0px 3rem
      .active-nav-item::before
        left: 9px !important

  main
    padding-right: 20px
    width: 67%
  p
    font-size: 1.5*$fs-normal

/* Desktop Layout  */
@media all and (min-width: 960px)
  p
    font-size: $fs-normal
/* footer style */
footer
  justify-content: center
  align-items: center
  text-align: center
  padding-top: 5.2em
  padding-bottom: 10px
  background-color: white
  color: black
  &::before
    content: ''

    width: 37%
    height: 8px

    display: block
    margin-bottom: 5px
    margin: 10px auto

    border-radius: 8px
    background-color: $grey

  svg
    fill: #1e3391
  a
    padding-left: 0.3em
    &:hover
      color: lighten(#1e3391 , 20%)
      text-decoration-line: underline
      text-decoration-style: dotted
